@model ReservationSystem.Models.OutputViewModel
@{
    ViewBag.Title = Model.Username;
}

<div class="btn-group">
    <button class="btn" onclick="addReservation()">Add Reservation</button>
</div>
<div class="btn-group">
    <button class="btn" onclick="viewReservations()">Refresh</button>
</div>
<div id="view-container" style="margin-left: 0px">
</div>
<script>
    $(document).ready(function () {
        $.post("/Admin/RefreshAdmin", {}, function (data) {
            if (data.error == undefined || data.error != true) {
                userManager.currentUser = data.user;
                $("#mainArea-header").html(data.headerText);
                $("#sign-out-text").removeClass('hidden');
            }
        });
        viewReservations();
    });
</script>
