@{
    ViewBag.Title = "Welcome";
}
@*
Here's a comment.
*@
<div id="loginContainer">
    <div>Reservation System</div>
    <div>
        <input id="usernameText" type="text" placeholder="Enter Username" />
    </div>
    <div>
        <input id="passwordText" type="password" placeholder="Enter Password" />
    </div>
    <div style="overflow:hidden;height:30px;">
        <div id="login-error">
        </div>
    </div>
    <div>
        <button id="logInButton" class="btn" onclick="logIn();">Log In</button>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("input").keypress(function (event) {
                if (event.which == 13) {
                    $("#logInButton").click();
                }
            });
            $("#usernameText").focus()
        });
    </script>
</div>
