@{
    Layout = null;
}

<div id="modal" class="modal hide" style="margin-left: -125px; width: 250px;">
    <div class="modal-header">
        Are you sure you want to cancel this reservation?
    </div>
    <div class="modal-footer" style="padding:5px;">
        <button id="confirm-button" class="btn">YES</button>
        <button class="btn" onclick="$('#modal').modal('hide');">NO</button>
    </div>
</div>