@{
    Layout = null;
}

<div id="modal" class="modal hide">
    <div class="modal-body">
        <div class="modal-header">Please Enter You Username And Password</div>
        <div><input id="usernameText" type="text" placeholder="Enter Username" /></div>
        <div><input id="passwordText" type="password" placeholder="Enter Password" /></div>
        <div class="modal-header">
            <button class="btn" onclick="pressedRegister();">Register</button>
        </div>
    </div>
</div>
